---
layout: leadership
---

<div class="tsd-leadership">
	{% include snippets/layout/leadership/leadership-header.html %}
	
	<section class="tsd-leadership-content">
		<section class="tsd-leadership-content-section">
			<div class="tsd-leadership-marketing-grid">
				{% capture _description %}
					With our 85+ years of combined service, the team at {{ site.data.tsd.name }} has managed a variety
					of projects across North Carolina, South Carolina, and Virginia.
				{% endcapture %}
				
				{% include snippets/marketing-panel.html
					slogan="Proven Success"
					quality="The Numbers Don't Lie"
					description=_description %}
				
				<div data-aos="zoom-in" data-aos-id="leadership-progress-bar-id" data-aos-duration="2000" class="leadership-progress-bar">
					<span>
						Over
					</span>
					<div class="progress-bar" data-percent="85" data-duration="2000"></div>
					<span>
						Years of combined experience
					</span>
				</div>
			</div>
		</section>
		
		<section class="tsd-page-content-width">
			<div class="tsd-leadership-team-grid">
				{% include snippets/layout/leadership/leadership-preview.html person=site.data.leadership.matt %}
				
				{% include snippets/layout/leadership/leadership-preview.html person=site.data.leadership.brent %}
				
				{% include snippets/layout/leadership/leadership-preview.html person=site.data.leadership.carlo %}
				
				{% include snippets/layout/leadership/leadership-preview.html person=site.data.leadership.ross %}
				
				{% include snippets/layout/leadership/leadership-preview.html person=site.data.leadership.toni %}
				
				{% include snippets/layout/leadership/leadership-preview.html person=site.data.leadership.rinnette %}
			</div>
		</section>
	</section>
</div>