---
layout: default
title: &title "Projects"
---

{% assign projects = site.data.projects.projects %}
{% assign project_count = projects.size %}
{% assign column_one_count = project_count | modulo: 2 | plus: project_count | divided_by: 2 %}

<div class="tsd-projects">
	{% include snippets/projects/projects-header.html %}
	
	<section class="tsd-projects-content">
		<section class="tsd-projects-content-section">
			<div class="tsd-projects-grid">
				<div class="tsd-projects-grid-column">
					{% for project in projects limit:column_one_count %}
						{% include snippets/projects/project-summary.html
							location=project.location
							project_name=project.name
							photo_url=project.primary-photo-url
							description=project.description
						%}
					{% endfor %}
				</div>
				<div class="tsd-projects-grid-column">
					{% for project in projects offset:column_one_count %}
						{% include snippets/projects/project-summary.html
							location=project.location
							project_name=project.name
							photo_url=project.primary-photo-url
							description=project.description
						%}
					{% endfor %}
				</div>
			</div>
		</section>
		
		{% assign person = site.data.references.people[site.data.references.reference_index_mattlowder] %}
		{% include snippets/quote-angled-edges.html name=person.name title=person.title company=person.company quote=person.quote %}
	</section>
</div>