---
layout: default
title: &title "Services"
---

<div class="tsd-services">
	{% include snippets/services/services-header.html %}
	
	<section class="tsd-services-content">
		<section class="tsd-services-content-section">
			<div class="tsd-services-grid">
				{% for service in site.data.services.services limit:3 %}
					{% include snippets/services/service-item.html
						toggle_open=service.toggle_open
						title=service.title
						benefit=service.benefit
						description=service.description %}
				{% endfor %}
			</div>
			
			<div class="tsd-horizontal-align-center">
				<a class="tsd-btn-primary" href="#more-services" role="button">See More Services</a>
			</div>
		</section>
		
		{% assign person = site.data.references.people[site.data.references.reference_index_stevenpeedin] %}
		{% include snippets/quote-angled-edges.html name=person.name title=person.title company=person.company quote=person.quote %}
		
		<section id="more-services" class="tsd-services-content-section tsd-element-scroll-snap">
			<!--<a class="tsd-services-expand-all">Expand All</a>-->
			<div class="tsd-services-grid">
				{% for service in site.data.services.services offset:3 %}
					{% include snippets/services/service-item.html
						toggle_open=service.toggle_open
						title=service.title
						benefit=service.benefit
						description=service.description %}
				{% endfor %}
			</div>
		</section>
	</section>
</div>