<link rel='stylesheet' id='et-builder-googlefonts-cached-css'  href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPlayfair+Display%3Aregular%2Citalic%2C700%2C700italic%2C900%2C900italic%7CSaira+Extra+Condensed%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900&#038;ver=5.6#038;subset=latin,devanagari,latin-ext,cyrillic,vietnamese' type='text/css' media='all' />
<link rel="stylesheet" href="{{ 'assets/lib/aos-3.0.0-beta.6/css/aos.css' | relative_url }}" />
<link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
{% for css in layout.head-csss %}
    <link rel="stylesheet" type="text/css" href="{{ css | relative_url }}">
{% endfor %}