{% assign _url = page.url | prepend: site.url | replace:'index.html','' %} 

{% include helpers/get-page-title.html page=page %}
{% assign _title = site.title %}
{% if __return %}
	{% assign _title = __return | prepend: ' - ' | prepend: site.title %}
{% endif %}

{% include helpers/get-page-description.html page=page %}
{% assign _description = __return %}

<link rel="canonical" href="{{ _url }}">

<title>{{ _title }}</title>
<meta name="description" content="{{ _description }}" />

<meta property="og:title" content="{{ _title }}" />
<meta property="og:description" content="{{ _description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ _url }}" />
<meta property="og:site_name" content="{{ site.tsd.name }}" />