<footer id="contact" class="tsd-page-footer">
	<div class="tsd-page-footer-wrapper">
		<div data-aos="fade-up" class="tsd-page-footer-content">
			{% include snippets/request-proposal.html %}
			
			<div class="tsd-page-footer-contact">
				<div data-aos="zoom-in" class="tsd-page-footer-contact-info">
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
						<i class="fa fa-map-marker-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
					</span>
					<div>
						<a href="{{ site.tsd.address-url }}" target="_blank">
							{{ site.tsd.address.line1 }}
							<br>
							{{ site.tsd.address.citystate }}, {{ site.tsd.address.zip }}
						</a>
					</div>
					
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
						<i class="fa fa-mobile-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
					</span>
					<div>
						<a href="tel:{{ site.tsd.phone_number }}">
							{{ site.tsd.phone_number }}
						</a>
					</div>
					
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
						<i class="fas fa-envelope fa-stack-1x fa-inverse" aria-hidden="true"></i>
					</span>
					<div>
						{% assign person = site.data.leadership.rinnette %}
						<a href="mailto:{{ person.email }}" target="_blank">
							{{ person.email }}
						</a>
					</div>
					
					<span class="fa-stack fa-2x">
						<i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
						<i class="fa fa-clock fa-stack-1x fa-inverse" aria-hidden="true"></i>
					</span>
					<div class="tsd-page-footer-contact-hours">
						{{ site.tsd.open.days }}
						<br>
						{{ site.tsd.open.hours }}
					</div>
				</div>
				
				<div class="tsd-page-footer-contact-connect">
					<div>Connect With Us</div>
					{% include snippets/components/buttons/linkedin-icon-button.html %}
					
					{% include snippets/components/buttons/facebook-icon-button.html %}
				</div>
			</div>
			
			<div class="tsd-page-footer-legal">
				&copy; <span id="year"></span> - {{ site.tsd.name }}
				<br>
				Civil Consulting & Engineering Firm
				<br>
				{{ site.tsd.address.citystate }}
			</div>
		</div>
	</div>
</footer>