
.tsd-animate-slidein-cardlist-card {
	overflow: hidden;
	visibility: hidden;
	
	&.tsd-animate-slidein-cardlist-card-visible {
		visibility: visible;
		animation: tsd-animate-move-from-bottom-to-top 1s 1;
	}
}

.tsd-cardlist-card {
	@extend .tsd-animate-slidein-cardlist-card;
}

.tsd-animate-slidein-cardlist-list {
	overflow: hidden;
	visibility: hidden;
	
	&.tsd-animate-slidein-cardlist-list-visible {
		visibility: visible;
		animation: tsd-animate-move-from-top-to-bottom 1s 1;
	}
}

.tsd-cardlist-list {
	@extend .tsd-animate-slidein-cardlist-list;
}

.tsd-animate-slidein-page-content-header {
	overflow: hidden;
	section {
		visibility: hidden;
	}
	
	&.tsd-animate-slidein-page-content-header-visible {
		section {
			visibility: visible;
			animation: tsd-animate-move-from-bottom-to-top 1s 1;
		}
	}
}

.tsd-home-header {
	@extend .tsd-animate-slidein-page-content-header;
}

.tsd-animate-fadein-element {
	visibility: hidden;
	opacity: 0;
	font-size: 2px;
	transition: all 1s;
	
	&.tsd-animate-fadein-element-visible {
		visibility: visible;
		opacity: 1;
		font-size: inherit;
	}
}

// https://www.html.am/html-codes/marquees/css-slide-in-text.cfm
@keyframes tsd-animate-move-from-bottom-to-top {
	from { margin-top: 15%; }
	to { margin-top: 0%; }
}

@keyframes tsd-animate-move-from-top-to-bottom {
	from { margin-top: -15%; }
	to { margin-top: 0%; }
}

.tsd-page-footer-contact-address {
	@extend .tsd-animate-fadein-element;
}

.tsd-page-footer-contact-phone_number {
	@extend .tsd-animate-fadein-element;
}

.tsd-page-footer-contact-hours {
	@extend .tsd-animate-fadein-element;
}