.tsd-home {
	@extend .tsd-page-content;
}

.tsd-home-header {
	@extend .tsd-page-content-header;
	@include background-image('#{$site-baseurl}/assets/images/page/home/tractor-supply-garner-nc/background-small.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.tsd-home-content {
	@extend .tsd-page-content-main;
}

.tsd-home-content-section {
	@extend .tsd-page-content-width;
}

.tsd-home-marketing {
	display: grid;
	grid-row-gap: 2em;
	grid-template-areas:
		// mt = marketing text
		// mp = marketing photo
		"mt"
		"mp";
	align-items: center;
}

.tsd-home-marketing-text-photo {
	@extend .tsd-home-marketing;
}

.tsd-home-marketing-photo-text {
	@extend .tsd-home-marketing;
}

.tsd-home-marketing-text {
	grid-area: mt;
	display: grid;
	grid-row-gap: 2em;
}

.tsd-home-marketing-photo {
	grid-area: mp;
	@extend .tsd-horizontal-align-center;
	
	img {
		max-width: 800px;
		@extend .tsd-image-responsive;
	}
}

.tsd-home-marketing-photo-left {
	@extend .tsd-home-marketing-photo;
}

.tsd-home-marketing-photo-right {
	@extend .tsd-home-marketing-photo;
}

.tsd-home-marketing-photo-caption {
	position: relative;
	margin-top: -30px;
	box-shadow: 0px 15px 80px -6px #00000033;
	background-color: $color-white;
	@extend .tsd-horizontal-align-center;
	max-width: 80%;
	padding: 15px;
	font-size: 0.813rem;
}

@media (min-width: $device-width-breakpoint-small) {
	.tsd-home-header {
		@include background-image('#{$site-baseurl}/assets/images/page/home/tractor-supply-garner-nc/background-medium.jpg');
	}
}

@media (min-width: $device-width-breakpoint-medium) {
	.tsd-home-header {
		@include background-image('#{$site-baseurl}/assets/images/page/home/tractor-supply-garner-nc/background-large.jpg');
	}
}

@media (min-width: $device-width-breakpoint-large) {
	$tsd-large-device-home-marketing-photo-max-width: 475px;
	
	.tsd-home-header {
		@include background-image('#{$site-baseurl}/assets/images/page/home/tractor-supply-garner-nc/background-xlarge.jpg');
	}
	
	.tsd-home-marketing {
		grid-column-gap: 2em;
	}
	
	.tsd-home-marketing-text-photo {
		grid-template-columns: 1fr minmax(min-content, $tsd-large-device-home-marketing-photo-max-width);
		grid-template-areas:
			"mt	mp";
	}
	
	.tsd-home-marketing-photo-text {
		grid-template-columns: minmax(min-content, $tsd-large-device-home-marketing-photo-max-width) 1fr;
		grid-template-areas:
			"mp	mt";
	}
	
	.tsd-home-marketing-photo-left {
		img {
			max-width: $tsd-large-device-home-marketing-photo-max-width;
			box-shadow: -20px 20px 0px 0px #0c0c0c08;
		}
	}
	
	.tsd-home-marketing-photo-right {
		img {
			max-width: $tsd-large-device-home-marketing-photo-max-width;
			box-shadow: 20px -20px 0px 0px #0c0c0c08;
		}
	}
	
	.tsd-home-marketing-photo-caption {
		max-width: 80%;
	}
}

@media (min-width: $device-width-breakpoint-xlarge) {
	.tsd-home-header {
		@include background-image('#{$site-baseurl}/assets/images/page/home/tractor-supply-garner-nc/background-xxlarge.jpg');
	}
	
	.tsd-home {
		.tsd-page-content-width {
			min-width: 1140px;
			max-width: 1140px;
		}
	}
}