.linkedin-icon-button, .facebook-icon-button {
	span {
		color: $tsd-color-red;
		
		&:hover {
			color: $color-white;
			i.fa-inverse {
				color: $tsd-color-red;
			}
		}
	}
}

.quote {
	p {
		margin-bottom: 10px;
		
		i {
			margin-right: 10px;
		}
	}
	
	h5 {
		font-weight: bold;
	}
}

.text-box-drop-shadow {
	box-shadow: 0px 15px 80px -6px #00000033;
}

// ------------- Large devices (desktops, 992px and up) -----------------
@media (min-width: $device-width-breakpoint-large) {
	.image-left-drop-shadow {
		box-shadow: -20px 20px 0px 0px #0c0c0c21;
	}
	
	.image-right-drop-shadow {
		box-shadow: 20px -20px 0px 0px #0c0c0c21;
	}
}