<div class="tsd-leadership-experience-metric">
	<div class="tsd-leadership-experience-metric-label">
		Over
	</div>
	<div class="tsd-leadership-experience-metric-graphic">
		<svg class="tsd-leadership-experience-metric-graphic-svg">
			<circle class="fill"></circle>
			<circle class="progress"></circle>
		</svg>
		<div class="tsd-leadership-experience-metric-graphic-value tsd-leadership-experience-metric-counter">75</div>
	</div>
	<div class="tsd-leadership-experience-metric-label">
		Years of combined experience
	</div>
</div>