---
layout: page
---

<div class="tsd-leadership">
	<section class="tsd-leadership-bio-content">
		<section class="tsd-leadership-content-section">
			<a href="{% link leadership.html %}">
				<div class="tsd-bullet-point">
					<i class="fas fa-angle-left fa-2x"></i>
					<span>
						Back to Leadership
					</span>
				</div>
			</a>
			
			{{ content }}
		</section>
		
		{% assign _quote = site.data.quotes.people[site.data.quotes.quote_index_leehumphrey] %}
		{% include snippets/components/quote-angled-edges.html quote=_quote %}
	</section>
</div>