.tsd-leadership {
	@extend .tsd-page-content;
}

.tsd-leadership-header {
	@extend .tsd-page-content-header;
	background:
		linear-gradient(
			rgba(0,0,0,0.7), 
			rgba(0,0,0,0.7)
		),
		url('#{$site-baseurl}/assets/images/conference.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.tsd-leadership-content {
	@extend .tsd-page-content-main;
}

.tsd-leadership-bio-content {
	@extend .tsd-page-content-main;
	margin-top: 20px;
}

.tsd-leadership-content-section {
	@extend .tsd-page-content-width;
	display: grid;
	grid-row-gap: 3px;
	
	.tsd-bullet-point {
		i {
			margin-right: 5px;
		}
		
		span {
			color: $tsd-color-red;
		}
	}
	
	.tsd-leadership-bio {
		margin-top: 10px;
	}
}

.tsd-leadership-marketing-grid {
	display: grid;
	grid-row-gap: 2rem;
	margin-bottom: 60px;
}

.tsd-leadership-team-grid {
	display: grid;
	grid-row-gap: 2rem;
}

.tsd-leadership-preview {
	@extend .tsd-horizontal-align-center;
	border: 1px solid $tsd-color-light-gray;
	box-shadow: 0px 0px 4px 2px #d6d9dc;
	padding: 30px;
	
	img {
		border-radius: 7px;
		margin-bottom: 10px;
	}
	
	hr {
		width: 100%;
		margin-top: 0;
		margin-bottom: 10px;
		border: 0px;
		border-top: 3px solid $tsd-color-red;
	}
}

.tsd-leadership-bio {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 1rem;
	margin-bottom: 1rem;
	//background: $tsd-color-light-gray;
	border: 1px solid rgba(0, 0, 0, 0.025);
	padding: 1rem;
	
	hr {
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0px;
		border-top: 1px solid $tsd-color-red;
	}
	
	a {
		color: $tsd-color-gray;
	}
	
	h5 {
		padding: 0;
	}
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		background-image: url('#{$site-baseurl}/assets/images/bg_poly-core-off-white.jpg');
		background-repeat: no-repeat;
		background-position: 75% 75%;
		background-size: cover;
		z-index: -1;
	}
}

.tsd-leadership-bio-photo {
	max-width: 370px;
	min-width: 250px;
	max-height: 400px;
	margin-bottom: 1rem;
	@extend .tsd-horizontal-align-center;
}

// https://codepen.io/epogeedesign/pen/NWqoXRo
.tsd-leadership-experience-metric {
	.tsd-leadership-experience-metric-graphic {
		position:relative;
		margin-top: 1em;
		margin-bottom: 1em;
		
		.tsd-leadership-experience-metric-graphic-value {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2.5em;
			font-weight: bold;
			//font-family: $tsd-font-courierNew;
		}
	}

	.tsd-leadership-experience-metric-label {
		text-transform: uppercase;
		text-align: center;
	}
}

.tsd-leadership-experience-metric-graphic-svg {
	display: block;
	margin: auto;
	width: 226px;
	height: 226px;
	
	circle {
		transform: rotate(-90deg);
		transform-origin: 50% 50%;
		stroke-dasharray: 628.32, 628.32;
		stroke-width: 10;
		fill: transparent;
		r: 100;
		cx: 113;
		cy: 113;

		&.fill {
			stroke: #D3D3D3;
		}

		&.progress {
			stroke: $tsd-color-red;
			transition: stroke-dashoffset 0.35s;
			stroke-dashoffset: 214.16;
			-webkit-animation: NAME-YOUR-ANIMATION 1.5s forwards;
			-webkit-animation-timing-function: linear;

			@-webkit-keyframes NAME-YOUR-ANIMATION {
				0% { stroke-dashoffset: 628.32; }
				100%   { stroke-dashoffset: 157.08; }
			}
		}
	}
}

// ------------- Medium devices (tablets, 768px and up) -----------------
@media (min-width: $device-width-breakpoint-medium) {
	.tsd-leadership-marketing-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
	}
	
	.tsd-leadership-team-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
	}
	
	.tsd-leadership-bio {
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 2rem;
		padding: 2rem;
	}
	
	.tsd-leadership-bio-photo {
		margin-bottom: 0;
	}
}

// ------------- Large devices (desktops, 992px and up) -----------------
@media (min-width: $device-width-breakpoint-large) {
	.tsd-leadership-team-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}